.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    padding: 10vh 0 0 0;
    justify-content: center;
}

.App button {
    padding: 5vw 5vw;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: skyblue;
    color: darkslategray;
}